{% extends './wrapper.html' %}

{% block page_title %}
    Поставщики
{% endblock %}

{% block add_button %}
    <a href="{% url 'new_supplier' %}" class="btn btn-outline-success mr-2" title="Добавить"><i class="fas fa-plus"></i> Добавить</a>
{% endblock %}

{% block suppliers %}
    <h5>
        <p>Поставщики</p>
    </h5>
    {% if object_list %}
        <table class="table table-bordered table-sm table-hover shadow-sm p-3 mb-5 bg-white rounded">
            <thead  class="thead-dark">
                <tr>
                    <th scope="col">Наименование</th>
                    <th scope="col">ИНН</th>
                    <th scope="col">Юр. адрес</th>
                    <th scope="col">Факт. адрес</th>
                    <th scope="col">Менеджер</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Телефон</th>
                    <th scope="col">ISO 9001</th>
                    <th scope="col">ГОСТ РВ 0015-002-2012</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for supplier in object_list %}
                <tr>
                <td>{{supplier.name}}</td>
                <td>{{supplier.tax_number_id}}</td>
                <td>{{supplier.legal_address}}</td>
                <td>{{supplier.actual_address}}</td>    
                <td>{{supplier.manager}}</td>
                <td>{{supplier.email}}</td>
                <td>{{supplier.phone}}</td>
                <td>{{supplier.iso9001}}</td>
                <td>{{supplier.gost_rv}}</td>
                <td>
                    <a href="{% url 'edit_supplier' supplier.id %}" class="btn btn-outline-primary mr-2" title="Редактировать">
                        <i class="fas fa-edit"></i> Изменить
                    </a>
                </td>
                </tr>
                {% empty %}
                    <p>
                        Список пуст.
                    </p>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>
        Список пуст. Добавьте новую запись.
    </p>
    {% endif %}
    
        <!-- <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm justify-content-center">
                <li class="page-item disabled">
                <a class="page-link text-secondary" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                <li class="page-item"><a class="page-link text-light bg-dark" href="#">1</a></li>
                <li class="page-item"><a class="page-link text-secondary" href="#">2</a></li>
                <li class="page-item"><a class="page-link text-secondary" href="#">3</a></li>
                <li class="page-item">
                <a class="page-link text-secondary" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
            </ul>
        </nav> -->
{% endblock %}
