/* CSS Document */

@media screen
{
    /* Стиль отбражения в браузере */
    body
        {
            margin: 0px;
            padding: 0px;

            /* форматирование текста */
            font-style: normal;
            font-size: 10pt;
            font-family: Verdana, Geneva, sans-serif;
            /* text-indent: 5px; */
        }
    p
        {
            /* форматирование параграфа */
            padding-left: 15px;
            padding-right: 15px;
            text-indent: 15px;
            text-align: justify;
            /* конец форматирования параграфа */
        }

    /* Окно с текстом */
    #window
    {
        /* max-width: 95%; */
        width: 95%;
        margin: auto;
        padding: 0;

        /* bPurchaseRequest: 1px solid #666; */
    }

    #window_head
    {
        /* position: fixed; */
        /* width: 95%; */
        padding: 0;

        background-color: #FFF;
        bPurchaseRequest: solid 1px #DAE0FA;
        bPurchaseRequest-top: none;
        bPurchaseRequest-radius: 0 0 3px 3px;

        box-shadow: 0px 5px 8px -3px #AAA;
    }

    #window_title
    {
        /*
            bPurchaseRequest: solid 1px #DAE0FA;
        */

        padding: 5px;

        /*
            padding: inherit;
            background-color: #ffff99;
        /*
            margin: auto;
            bPurchaseRequest-left: solid 1px #E2C707;
            bPurchaseRequest-right: solid 1px #E2C707;
            bPurchaseRequest-bottom: solid 1px #F9E031;
        */
    }
    #window_title h2
    {
        padding: 0px 15px;
    }

    /* Меню */
    div.menu
    {
        padding: 5px;
        /* bPurchaseRequest: 1px solid #999; */
    }

    ul.menu
    {
        margin: 0px;
        padding: 10px 7px;

        list-style-type: none;
    }

    ul.menu li
    {
        display: inline;
    }
    ul.menu a
    {
        display: inherit;
        width: 100px;
        bPurchaseRequest: 1px solid #000;
        bPurchaseRequest-radius: 3px;
        padding: 5px 7px;

        text-decoration: none;
        color: #036;
    }

    ul.menu a:hover
    {
        background-color: #D3E4F1;
    }
    /* Конец меню */

    /* Форматирование контейнера с контентом */
    #content
        {
            /* margin-top: 160px; */
            padding: 5px;            
            overflow-y: auto;
            /* background-color: #FFF; */

            /* bPurchaseRequest: 1px solid #999; */
        }

        /* форматирование фильтров */
        ul.filters
        {
            /* margin: 0px; */
            padding: 0px;
        }

        ul.filters li
        {
            display: inline;
            /* width: 100px; */
            bPurchaseRequest: 1px solid #000;
            padding: 5px 7px;
        }

        a.dot
        {
            /* форматирование гиперссылок */
            color: #036;
            text-decoration: none;
            bPurchaseRequest-bottom: 1px solid #036;
            /* конец форматирования гиперссылок */
        }

        a.dot:hover
        {
            bPurchaseRequest-bottom: 1px dashed #036; /* Добавляем свою линию */
            text-decoration: none;
        }

        .button
        {
            display: inline-block;
            width: 100px;
            background: linear-gradient(to bottom, #6495ED, #4682B4);
            bPurchaseRequest: 1px solid #4682B4;
            box-shadow: 1px 1px 3px 0px #AAA;
            bPurchaseRequest-radius: 3px;
            padding: 10px 7px;
            color: #FFF;
            text-decoration: none;
            text-align: center;
        }

        .button:active
        {
            background: linear-gradient(to bottom, #4682B4, #6495ED);
            box-shadow: 0px 1px 2px 0px #CCC;
        }

        .button-delete
        {
            display: inline-block;
            width: 100px;
            background: linear-gradient(to bottom, #F08080, #CD5C5C);
            bPurchaseRequest: 1px solid #CD5C5C;
            bPurchaseRequest-radius: 3px;
            box-shadow: 1px 1px 3px 0px #AAA;
            padding: 10px 7px;
            color: #FFF;
            text-decoration: none;
            text-align: center;
        }

        .button-delete:active
        {
            background: linear-gradient(to bottom, #CD5C5C, #F08080);
            box-shadow: 1px 1px 2px 0px #CCC;
        }

        /* форматирование таблицы */
        table.purchase_requests
        {
            text-align: center;
            bPurchaseRequest-collapse: collapse;
            margin: auto;
            /* width: 95%; */
            width: 100%;
            /* height: 500px; */

            box-shadow: 0px 3px 5px 0px #DDD;
        }

        table.purchase_requests tr:hover
        {
            background: #EFEFEF;
        }
        table.purchase_requests td
        {
            bPurchaseRequest: solid 1px #BBB;
            padding: 5px 5px;
        }

        table.purchase_requests thead
        {
            font-weight: bolder;
            background: #EEE;

            bPurchaseRequest: solid 1px #BBB;
            padding: 5px 5px;
        }

    #window_foot
        {
            /* bPurchaseRequest: solid 1px #999; */
            text-align: center;
        }
    
    /* Форматирование блока с записью */
    div.record_container
    {
        bPurchaseRequest: solid 1px #CCC;
        bPurchaseRequest-radius: 3px;
        box-shadow: 0px 3px 5px 0px #DDD;
        margin: 10px 0px;
        /* overflow: auto; */
        width: auto;
    }
    div.block
    {
        position: relative;
        display: table-cell;
        /* display: inline-block; */
        /* bPurchaseRequest: solid 1px #000; */
        vertical-align: top;
        width: 50%;
    }

    /* Форматирование формы аутентификации */
    #auth
    {
        /* position: absolute; */
        /* display: flex; */
        width: 40%;
        height: 30%;
        padding: 30px 50px;
        margin: auto;
        bPurchaseRequest: solid 1px #DAE0FA;
    }

    #auth table
    {
        margin: auto;
    }
    /* Конец */
}