{% extends './wrapper.html' %}

{% block page_title %}
    Проекты
{% endblock %}

{% block add_button %}
    <a href="{% url 'new_project' %}" class="btn btn-outline-success mr-2" title="Добавить"><i class="fas fa-plus"></i> Добавить</a>
{% endblock %}

{% block projects %}
    <h5>
        <p>Проекты</p>
    </h5>
    {% if object_list %}
        <table class="table table-bordered table-sm table-hover shadow-sm p-3 mb-5 bg-white rounded">
            <thead  class="thead-dark">
                <tr>
                    <th scope="col">Шифр</th>
                    <th scope="col">Децимальный номер</th>
                    <th scope="col">Номер проекта</th>
                    <th scope="col">РП</th>
                    <th scope="col">ГКП</th>
                    <th scope="col">Номер ГК</th>
                    <th scope="col">Дата ГК</th>
                    <th scope="col">Заказчик</th>
                    <th scope="col">Головной исполнитель</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for project in object_list %}
                <tr>
                    <td>
                        <b>{{project.title}}</b>
                    </td>
                    <td>
                        {{project.decimal_number}}
                    </td>
                    <td>
                        {{project.number}}
                    </td>
                    <td>
                        {{project.project_manager}}
                    </td>
                    <td>
                        {{project.project_chief_designer}}
                    </td>
                    <td>
                        {{project.goverment_contract_number}}
                    </td>
                    <td>
                        {{project.goverment_contract_date}}
                    </td>
                    <td>
                        {{project.goverment_customer}}
                    </td>
                    <td>
                        {{project.head_perfomer}}
                    </td>
                    <td>
                        <a href="{% url 'edit_project' project.id %}" class="btn btn-outline-primary mr-2" title="Редактировать"><i class="fas fa-edit"></i> Изменить</a>
                    </td>
                </tr>
                {% empty %}
                    <p>
                        Список пуст.
                    </p>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Список пуст. Добавьте новую запись.
        </p>
    {% endif %}
    
    <!-- <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm justify-content-center">
            <li class="page-item disabled">
            <a class="page-link text-secondary" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            <li class="page-item"><a class="page-link text-light bg-dark" href="#">1</a></li>
            <li class="page-item"><a class="page-link text-secondary" href="#">2</a></li>
            <li class="page-item"><a class="page-link text-secondary" href="#">3</a></li>
            <li class="page-item">
            <a class="page-link text-secondary" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        </ul>
    </nav> -->
{% endblock %}
