{% extends '../wrapper.html' %}

{% block login %}
    <div id="auth">
        {% if form.errors %}
            <h1 align="center">
                Введён неверный логин/пароль.
            </h1>
        {% endif %}
        
        {% comment %}
        {% if next %}
            {% if user.is_authenticated %}
                <p>
                    Your account doesn't have access to this page. To proceed, please login with an account that has access.
                </p>
            {% else %}
                <p>
                    Please login to see this page.
                </p>
            {% endif %}
        {% endif %}
        {% endcomment %}

        {% if user.is_authenticated %}
            <a href="{% url 'purchase_requests' %}">Click here...</a>
        {% else %}
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {% if login_error %}
                    <label>{{ login_error }}</label>
                {% endif %}
                    <!-- <fieldset>
                        <label>Войти в систему</label> -->
                    <table id="table" bPurchaseRequest="0">
                        <tr>
                            <td>
                                <!--<label for="username">Login</label>-->
                                {{ form.username.label_tag }}
                            </td>
                            <td>
                                <!--<input type="text" name="username" id="username"/>-->
                                {{ form.username }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <!--<label for="password">Password</label>-->
                                {{ form.password.label_tag }}
                            </td>
                            <td>
                                <!--<input type="text" name="password" id="password" />-->
                                {{ form.password }}
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>
                                <!--<button type="submit">Log in</button>-->
                                <input type="submit" value="Log in" />
                                <input type="hidden" name="next" value="{{ next }}" />
                            </td>
                        </tr>
                    </table>
            </form>            
        {% endif %}
    </div>
{% endblock %}
