{% extends 'wrapper.html' %}

{% block record_form %}
    <h5>
        <p>
            {% block page_title %}
            {% endblock %}
        </p>
    </h5>
    <div>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded mr-2" alt="...">
                <strong class="mr-auto">Сообщение</strong>
                <!-- <small class="text-muted">11 mins ago</small> -->
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                {% if form.subject.errors %}
                {% for error in form.subject.errors %}
                    {{ error }}
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <form method="post" novalidate>
            <div class="form-group">
                {% csrf_token %}
                <div>
                    <table>
                        {{ form.as_table }}
                    </table>
                </div>
                <hr>
                <span>
                    <button type="submit" class="btn btn-outline-secondary" accesskey="S">Сохранить</button>
                </span>
            </div>
        </form>
    </div>
{% endblock %}