<!Doctype html>
<html>
    <head>
        <!-- <link rel="stylesheet" type="text/css" href="style.css" /> -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
        <title>
            АИСУЗ&nbsp;|{% block page_title %}{% endblock %}
        </title>
    </head>
    <body class="container-fluid">
        <header class="fixed-top">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <span class="navbar-brand">
                    АИСУЗ
                </span>
                <span class="navbar-text">
                    {{ user.get_full_name|default:user.username }} <i class="fas fa-user"></i>
                </span>
                <span class="navbar-text">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <span class="navbar-text">
                    <a href='/admin/'>Панель администратора </a>
                </span>    
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'logout' %}">
                                <i class="fas fa-sign-out-alt">Выйти</i>
                            </a>
                        {% else %}
                            <a class="nav-link" href="{% url 'login' %}">
                                <i class="fas fa-sign-out-alt">Войти</i>
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
            {% if user.is_authenticated %}
                <nav class="navbar navbar-expand-lg navbar-light bg-light font-weight-bold">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'purchase_requests' %}" title="Заявки на закупку">Закупки</a>
                        </li>
                        <li class="navbar-text">|</li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'invoices' %}" title="Счета">Счета</a>
                        </li>
                        <li class="navbar-text">|</li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'purchased_items' %}" title="Покупные комплектующие изделия">ПКИ</a>
                        </li>
                        <li class="navbar-text">|</li>
                        {% comment %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'ii_acts' %}" title="Акты входного контроля">Акты ВхК</a>
                            </li>
                            <li class="navbar-text">|</li>
                        {% endcomment %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'invoices_fid' %}" title="Накладные на внутреннее перемещение">НВП</a>
                        </li>
                        <li class="navbar-text">|</li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'specworks' %}" title="Специальные проверки и исследования">СПиСИ</a>
                        </li>
                        <li class="navbar-text">|</li>
                        {% comment %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'repairs' %}" title="Ремонт">Ремонт</a>
                            </li>
                        {% endcomment %}
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Вспомогательные таблицы
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'suppliers' %}">Поставщики</a>
                                <a class="dropdown-item" href="{% url 'projects' %}">Проекты</a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    {% block add_button %}
                    {% endblock %}
                    
                    <!-- <button type="button" class="btn btn-outline-dark mr-2" title="Фильтры"><i class="fas fa-filter"></i></button> -->
                    <!-- <button type="button" class="btn btn-outline-dark mr-2" title="Поиск"><i class="fas fa-search"></i></button> -->
                    <!-- <form class="form-inline ml-auto">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Поиск">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form> -->
                </nav>
                <!-- добавить else для редиректа на авторизацию -->
            {% endif %}
        </header>
        <main>
            {% block login %}
            {% endblock %}
            
            {% block logout %}
            {% endblock %}

            {% block purchase_requests %}
            {% endblock %}
                        
            {% block purchased_item %}
            {% endblock %}
            
            {% block suppliers %}
            {% endblock %}
            
            {% block specwork %}
            {% endblock %}

            {% block projects %}
            {% endblock %}


            {% block invoices_fid %}
            {% endblock %}
            
            {% block record_form %}
            {% endblock %}

            {% comment %}
                {% block repair %}
                {% endblock %}
            {% endcommnet %}
            {% comment %}
                {% block ii_acts %}
                {% endblock %}
            {% endcomment %}
        </main>


        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <style>
            main {
            padding-top: 210px;
            }
            #table {
            margin: auto;
            }
                p {
                color: #333;
            }
        </style>
    </body>
</html>
