{% extends './wrapper.html' %}

{% block page_title %}
    Счета
{% endblock %}

{% block add_button %}
    <a href="{% url 'new_invoice' %}" class="btn btn-outline-success mr-2" title="Добавить"> <i class="fas fa-plus"></i> Добавить</a>
{% endblock %}

{% block purchase_requests %}
    <h5>
        <p>Счета</p>
    </h5>
    {% if object_list %}
        <table class="table table-bordered table-sm table-hover shadow-sm p-3 mb-5 bg-white rounded">
            <thead  class="thead-dark">
                <tr>
                    <th scope="col">Номер</th>
                    <th scope="col">Поставщик</th>
                    <th scope="col">Номер счета</th>
                    <th scope="col">Дата счета</th>
                    <th scope="col">Подписан в оплату</th>
                    <th scope="col">Оплачен</th>
                    <th scope="col">Сумма</th>
                    <th scope="col">Ответственное лицо</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for record in object_list %}
                    <tr>
                        <td>
                            <b>{{record.number}}</b>
                        </td>
                        <td>{{record.supplier}}</td>
                        <td>{{record.invoice_number}}</td>
                        <td>{{record.invoice_date|date:'d.m.Y'}}</td>
                        <td>{{record.signed|date:'d.m.Y'}}</td>
                        <td>{{record.payment_day|date:'d.m.Y'}}</td>
                        <td>{{record.amount}}</td>
                        <td>{{record.appointment_person.get_full_name}}</td>
                        <td>
                            <a href="{% url 'edit_invoice' record.id %}" class="btn btn-outline-primary mr-2" title="Редактировать">
                                    <i class="fas fa-edit"></i> Изменить
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Список пуст. Добавьте новую запись.
        </p>
    {% endif %}
    
    {% comment %}
    {% if object_list %}
        {% for record in object_list %}
        <div class="record_container">
            <div class="block">
                <!-- <div>
                    {{record.id}}
                </div> -->
                <p>
                    <b>Номер заявки: {{record.number}}</b>
                </p>
                <p>
                    Тип заявки: {{record.PurchaseRequest_type}}
                </p>
                <p>                
                    Дата поступления: {{record.created|date:'d.m.y'}}
                </p>
                <p>                
                    Ответственное лицо: {{record.appointment_person.get_full_name}}
                </p>
                <p>                
                    Проект: {{record.project}}
                </p>
                <p>
                    Состав:
                    {% for purchased_item in record.purchased_item.all %}
                        {% if not forloop.last %}
                            {{purchased_item.title}},
                        {% else %}
                            {{purchased_item.title}}
                        {% endif %}
                    {% empty %}
                        Список пуст.
                    {% endfor %}
                </p>
            </div>
            <div class="block">
                <p>
                    СП: {{record.special_check}}
                </p>
                <p>
                    СИ: {{record.special_studies}}
                </p>
                <p>
                    Приемка: {{record.type_of_quality_control}}
                </p>
                <p>
                    Наличие О1: {{record.letter_O1}}
                </p>
                <p>
                    Квалифицированный поставщик: {{record.qualified_supplier}}
                </p>
                <p>                
                    Статус закупки: {{record.PurchaseRequest_status}}
                </p>
            </div>
            <div class="block">
                <p>
                    <a href="{% url 'detail_PurchaseRequest' record.number %}">
                            Detail
                    </a>           
                </p>
                <!-- <p>
                    <a href="{# {% url 'purchase_delete' record.number %} #}">
                            Delete
                    </a>           
                </p> -->
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>
            Список пуст. Добавьте новую запись.
        </p>
    {% endif %}
    {% endcomment %}
{% endblock %}
