{% extends './wrapper.html' %}

{% block page_title %}
    Заявки на закупку
{% endblock %}

{% block add_button %}
    <a href="{% url 'new_request' %}" class="btn btn-outline-success mr-2" title="Добавить"><i class="fas fa-plus"></i> Добавить</a>
{% endblock %}

{% block purchase_requests %}
    <h5>
        <p>Закупки</p>
    </h5>
    {% if object_list %}
        <table class="table table-bordered table-sm table-hover shadow-sm p-3 mb-5 bg-white">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Номер заявки</th>
                    <th scope="col">Тип заявки</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Ответственное лицо</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Проект</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for record in object_list %}
                    <tr>
                        <td>
                            <b>{{record.number}}</b>
                        </td>
                        <td>
                            {{record.request_type}}
                        </td>
                        <td>
                            {{record.created|date:'d.m.Y'}}
                        </td>
                        <td>
                            {{record.appointment_person.get_full_name}}
                        </td>
                        <td>
                            {{record.description}}
                        </td>
                        <td>
                            {{record.project}}
                        </td>
                        {% comment %}
                            <td>
                                
                                {% for purchased_item in record.purchased_item.all %}
                                    {% if not forloop.last %}
                                        {{ purchased_item.type }} - {{ purchased_item.title }}: {{ purchased_item.description }} - {{ purchased_item.count }} шт.,<br>
                                    {% else %}
                                        {{ purchased_item.type }} - {{ purchased_item.title }}: {{ purchased_item.description }} - {{ purchased_item.count }} шт.
                                    {% endif %}
                                {% empty %}
                                    --
                                {% endfor %}
                            </td>
                            <td>
                                {% if record.special_check %}
                                    ДА
                                {% else %}
                                    НЕТ
                                {% endif %}
                            </td>
                            <td>
                                {% if record.special_studies %}
                                    ДА
                                {% else %}
                                    НЕТ
                                {% endif %}
                            </td>
                            <td>
                                {% if record.type_of_quality_control %}
                                    ДА
                                {% else %}
                                    НЕТ
                                {% endif %}
                            </td>
                            <td>
                                {% if record.letter_O1 %}
                                    ДА
                                {% else %}
                                    НЕТ
                                {% endif %}
                            </td>
                            <td>
                                {% if record.qualified_supplier %}
                                    ДА
                                {% else %}
                                    НЕТ
                                {% endif %}
                            </td>
                            <td>
                                {% if record.comment %}
                                    {{record.comment}}
                                {% else %}
                                    --
                                {% endif %}
                            </td>
                            <td>
                                {% if record.PurchaseRequest_status %}
                                    {{record.PurchaseRequest_status}}
                                {% else %}
                                    --
                                {% endif %}
                            </td>
                        {% endcomment %}
                        <td>
                            <a href="{% url 'edit_request' record.id %}" class="btn btn-outline-primary mr-2" title="Редактировать">
                                <i class="fas fa-edit"></i> Изменить
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Список пуст. Добавьте новую запись.
        </p>
    {% endif %}
    
    {% comment %}
    {% if object_list %}
        {% for record in object_list %}
        <div class="record_container">
            <div class="block">
                <!-- <div>
                    {{record.id}}
                </div> -->
                <p>
                    <b>Номер заявки: {{record.number}}</b>
                </p>
                <p>
                    Тип заявки: {{record.PurchaseRequest_type}}
                </p>
                <p>                
                    Дата поступления: {{record.created|date:'d.m.y'}}
                </p>
                <p>                
                    Ответственное лицо: {{record.appointment_person.get_full_name}}
                </p>
                <p>                
                    Проект: {{record.project}}
                </p>
                <p>
                    Состав:
                    {% for purchased_item in record.purchased_item.all %}
                        {% if not forloop.last %}
                            {{purchased_item.title}},
                        {% else %}
                            {{purchased_item.title}}
                        {% endif %}
                    {% empty %}
                        Список пуст.
                    {% endfor %}
                </p>
            </div>
            <div class="block">
                <p>
                    СП: {{record.special_check}}
                </p>
                <p>
                    СИ: {{record.special_studies}}
                </p>
                <p>
                    Приемка: {{record.type_of_quality_control}}
                </p>
                <p>
                    Наличие О1: {{record.letter_O1}}
                </p>
                <p>
                    Квалифицированный поставщик: {{record.qualified_supplier}}
                </p>
                <p>                
                    Статус закупки: {{record.PurchaseRequest_status}}
                </p>
            </div>
            <div class="block">
                <p>
                    <a href="{% url 'detail_PurchaseRequest' record.number %}">
                            Detail
                    </a>           
                </p>
                <!-- <p>
                    <a href="{# {% url 'purchase_delete' record.number %} #}">
                            Delete
                    </a>           
                </p> -->
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>
            Список пуст. Добавьте новую запись.
        </p>
    {% endif %}
    {% endcomment %}
{% endblock %}
