{% extends './wrapper.html' %}

{% block purchase_request_detail %}
    {% if record %}
        <h3>Детали заявки</h3>

        <div>
            Номер заявки: {{record.number}}
        </div>
        <div>
            Тип заявки: {{record.purchase_request_type}}
        </div>
        <div>
            Дата поступления: {{record.created|date:'d.m.y'}}
        </div>
        <div>
            Ответственное лицо: {{record.appointment_person}}
        </div>
        <div>
            Проект: {{record.project}}
        </div>
        <div>
            Состав: {{record.purchased_item}}
        </div>
        <div>
            СП: {{record.special_check}}
        </div>
        <div>
            СИ: {{record.special_studies}}
        </div>
        <div>
            Приемка: {{record.type_of_quality_control}}
        </div>
        <div>
            Наличие О1: {{record.letter_O1}}
        </div>
        <div>
            Квалифицированный поставщик: {{record.qualified_supplier}}
        </div>
        <div>
            Статус закупки: {{record.PurchaseRequest_status}}
        </div>
    {% endif %}

        <!-- Блок комметариев -->
        <h3>Комментарии...</h3>
        <p>
            #пользователь: #комментарий1
        </p>
        <p>
            #пользователь: #комментарий2
        </p>
        <p>
            #пользователь: #комментарий3
        </p>
        <!-- Конец блока комметариев -->
        <hr>
        <span>
            <a href="{% url 'purchase_requests' %}" class="button" accesskey="b">
                Назад
            </a>
        </span>

        <br>
{% endblock %}