{% extends './wrapper.html' %}

{% block page_title %}
    Спецработы
{% endblock %}

{% block add_button %}
    <a href="{% url 'new_specwork' %}" class="btn btn-outline-success mr-2" title="Добавить"><i class="fas fa-plus"></i> Добавить</a>
{% endblock %}

{% block specwork %}
    <h5>
        <p>Специальные проверки и исследования</p>
    </h5>
    {% if object_list %}
        <table class="table table-bordered table-sm table-hover shadow-sm p-3 mb-5 bg-white rounded">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Номер</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Заявка</th>
                    <th scope="col">Контрагент</th>
                    <th scope="col">Исходящий №</th>
                    <th scope="col">Входящий №</th>
                    <th scope="col">Заключение</th>
                    <th scope="col">Протокол</th>
                    <th scope="col">Предписание</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for specwork in object_list %}
                <tr>
                    <td>
                        <b>{{specwork.number}}</b>
                    </td>
                    <td>{{specwork.created}}</td>
                    <td>{{specwork.PurchaseRequest}}</td>
                    <td>{{specwork.executive_company}}</td>    
                    <td>{{specwork.output_number}}</td>
                    <td>{{specwork.intput_number}}</td>
                    <td>{{specwork.conclusion}}</td>
                    <td>{{specwork.protocol}}</td>
                    <td>{{specwork.prescription}}</td>
                    <td>
                        <a href="{% url 'edit_specwork' specwork.id %}" class="btn btn-outline-primary mr-2" title="Редактировать">
                            <i class="fas fa-edit"></i> Изменить
                        </a>
                    </td>
                </tr>
                {% empty %}
                    <p>
                        Список пуст.
                    </p>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Список пуст. Добавьте новую запись.
        </p>
    {% endif %}
    <!-- <span class="badge badge-secondary">Поставщики</span> -->

    <!-- <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm justify-content-center">
            <li class="page-item disabled">
            <a class="page-link text-secondary" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            <li class="page-item"><a class="page-link text-light bg-dark" href="#">1</a></li>
            <li class="page-item"><a class="page-link text-secondary" href="#">2</a></li>
            <li class="page-item"><a class="page-link text-secondary" href="#">3</a></li>
            <li class="page-item">
            <a class="page-link text-secondary" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        </ul>
    </nav> -->    
{% endblock %}
